streamlit
streamlit-drawable-canvas
opencv-python-headless
numpy
scipy
Pillow
PyWavelets
mediapipe 
plotly
pandas 
moviepy 
openpyxl
imageio-ffmpeg
hilbertcurve
torch
torchvision
folium
streamlit-folium